<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Flight Tracker
    </ion-title>
    <ion-progress-bar *ngIf="isLoading"
                      type="indeterminate"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <div class="map-wrapper">
    <ion-icon name="arrow-back-outline"
              class="arrow-back"
              (click)="onQuitFlightView()"></ion-icon>
    <div #mapContainer
         class="map-container">
    </div>
    <div class="card-container"
         [ngClass]="{'flight-view': flightView, 'portrait': isPortrait}">
      <ng-container *ngIf="selectedAircraft">
        <app-airplane-card [aircraft]="selectedAircraft"></app-airplane-card>
      </ng-container>
    </div>
  </div>

</ion-content>