<ion-header [translucent]="true">
  <ion-toolbar class="ion-color">
    <ion-title>
      Flight Tracker
    </ion-title>
    <ion-progress-bar *ngIf="isLoading"
                      type="indeterminate"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="map-wrapper">
    <div class="ui-overlay">
      <!-- <span
           ></span> -->
      <ion-chip class="num-of-planes ion-padding ion-margin-top"
                color="primary"
                *ngIf="!flightView && numVisiblePlanes !== 0">{{numVisiblePlanes}} Aircrafts</ion-chip>
      <ion-fab *ngIf="flightView"
               slot="fixed"
               vertical="top"
               horizontal="start"
               (click)="onQuitFlightView()"
               class="arrow-back">
        <ion-fab-button>
          <ion-icon name="arrow-back"></ion-icon>
        </ion-fab-button>
      </ion-fab>
      <app-info-container [ngStyle]="{'visibility': selectedAircraft && selectedAircraft.dynamic ? 'visible' : 'hidden'}"
                          [selectedAircraft]="selectedAircraft"></app-info-container>
      <ion-fab *ngIf="!flightView"
               slot="fixed"
               vertical="bottom"
               horizontal="end"
               class="my-location-button">
        <ion-fab-button color="primary"
                        (click)="updateCurrentLocation()">
          <ion-icon name="navigate"></ion-icon>
        </ion-fab-button>
      </ion-fab>
      <app-airplane-card class="card-container"
                         [ngClass]="{'flight-view': flightView, 'portrait': isPortrait}"
                         [aircraft]="selectedAircraft"></app-airplane-card>


    </div>
    <div #mapContainer
         class="map-container">
    </div>
  </div>
</ion-content>