ion-content {
  --overflow: hidden;
}

ion-toolbar {
  background: inherit;
}

.map-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.map-container {
  width: 100%;
  height: 100%;
}

@media (orientation: landscape) {
  .card-container {
    top: 0;
    bottom: 0;
    right: 0;
    max-width: 0;

    &.flight-view {
      max-width: 100%;
      margin-right: 50px;
      height: 100%;
      align-items: center;
      top: auto;
    }
  }
}

@media (orientation: portrait) {
  .card-container {
    bottom: 0;
    right: auto;
    max-height: 0;

    &.flight-view {
      max-height: 50vh;
      margin-bottom: 34px;
      width: 100%;
      justify-content: center;
    }
  }

}



.card-container {
  display: flex;
  position: absolute;
  transition: max-width 0.2s ease-in-out, max-height 0.2s ease-in-out, bottom ease-in-out, right ease-in-out;
}


.arrow-back {
  z-index: 1000;
  position: absolute;
  top: 0;
  max-width: 32px;
  width: 32px;
  height: 32px;
  padding: 16px;
  cursor: pointer;
  transition: max-width 0.3s ease-in-out;
}

.smooth {
  transition: transform 3s ease-in-out;
}