<div class="card flight-card">
  <div class="image-container">
    <div class="spinner-container">
      <ion-spinner *ngIf="!imageLoaded"
                   name="dots"></ion-spinner>
    </div>
    <img alt="Aircraft"
         [src]="image"
         (load)="onImageLoad($event)"
         class="flight-image" />
  </div>
  <ion-card-header class="flight-header">
    <div class="flight-info">
      <ion-card-title>Flight {{ aircraft?.flightDetails?.flightNumber }} - {{
        aircraft?.flightDetails?.airlineCode }}</ion-card-title>
      <ion-card-subtitle>{{ aircraft?.flightDetails?.callsign }}</ion-card-subtitle>
    </div>
    <div class="aircraft-info">
      <ion-card-subtitle>AIRCRAFT</ion-card-subtitle>
      <ion-card-subtitle>Model: {{ aircraft?.model }}</ion-card-subtitle>
      <ion-card-subtitle>Reg.: {{ aircraft?.registration }}</ion-card-subtitle>
    </div>

  </ion-card-header>

  <ion-card-content class="ion-padding">
    <div class="airport-info">
      <div class="airport origin">
        <h4>Origin</h4>
        <p><strong>{{ aircraft?.originAirport?.iata }} - {{ aircraft?.originAirport?.name }}</strong></p>
        <p>{{ aircraft?.originAirport?.location }}</p>
      </div>

      <div class="airport destination">
        <h3>Destination</h3>
        <p><strong>{{ aircraft?.destinationAirport?.iata }} - {{ aircraft?.destinationAirport?.name
            }}</strong></p>
        <p>{{ aircraft?.destinationAirport?.location }}</p>
      </div>
    </div>
  </ion-card-content>
</div>