<ion-card>
  <ion-card-content>
    <div class="seen"
         title="last update">
      <ion-icon name="stopwatch-outline"></ion-icon>
      <span class="value">{{selectedAircraft?.dynamic?.last_update}}s</span>
    </div>

    <span class="coordinates-info"
          *ngIf="selectedAircraft?.lat && selectedAircraft?.lng">
      Pos.: <span class="value">{{selectedAircraft?.lat}}°,{{selectedAircraft?.lng}}°</span>
    </span>
    <span class="altitude-info"
          *ngIf="selectedAircraft && selectedAircraft.dynamic && selectedAircraft.dynamic.altitude">
      Baro. Altitude: <span *ngIf="selectedAircraft.dynamic.altitude !== 'ground'; else ground"
            class="value">{{selectedAircraft.dynamic.altitude}}ft</span>
      <ng-template #ground>Ground</ng-template>
    </span>
    <span class="geom-rate-info"
          *ngIf="selectedAircraft?.dynamic?.geom_rate">
      Vert. Rate: <span class="value">{{selectedAircraft?.dynamic?.geom_rate}}ft/min</span>
    </span>
    <span class="ground-speed-info"
          *ngIf="selectedAircraft?.dynamic?.gs">
      Groundspeed: <span class="value">{{selectedAircraft?.dynamic?.gs}}kts</span>
    </span>
    <span class="heading-info"
          *ngIf="selectedAircraft?.heading">
      Track: <span class="value">{{selectedAircraft?.heading}}°</span>
    </span>
  </ion-card-content>
</ion-card>